
     <div data-role="view" data-title="View" data-layout="main-nonav" data-model="app.sravani" data-show="app.sravani.onShow" data-after-show="app.sravani.afterShow" id="sravaniScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.sravani.title"></span>

        </div>
    </header>
<div>
    vbdvbdvdjv 'sdsdv d vdvdv'
    </div>

    <!-- START_CUSTOM_CODE_sravani -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_sravani -->
</div>