<body>
<div data-role="view" data-title="View" data-layout="main" data-model="app.missing" data-show="app.missing.onShow" data-after-show="app.missing.afterShow" id="missingScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.missing.title"></span>

        </div>
    </header>
<div id="hru_1" class="div_hru_1">
     people 
</div>
<div id="enter_pin_1">
    <h3>To skip entering the pin 3 times , click on above tabs once and then enter pin </h3>
    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <input id="pin_1" class="pin_input" oninput="maxLengthCheck(this)" maxlength="4" type="number" placeholder="Enter Pin" name="password" required />
    <button class="btn-style" onclick="f2()">Submit</button>
</div>

<div id="overlay_1" style="display:none" class="w3-container w3-center w3-animate-bottom">
   <br> Correct pin enter cheyii amma!
    </div>
    <!-- START_CUSTOM_CODE_missing -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    
</div>
</body>